body {
  background-color: #221f1f !important;
}

h2,
footer {
  color: #f5f5f1 !important;
}

.icons {
  margin-left: 0.8em !important;
  margin-right: 0.8em !important;
  font-size: 1.2em !important;
  color: #f5f5f1 !important;
}

.navbar-nav {
  font-size: 90% !important;
}

#kids {
  color: #f5f5f1;
  font-size: 0.8em !important;
}

.footer-icon {
  color: #838383 !important;
}

.footer-links {
  font-size: 0.8em !important;
}

.footer-links p {
  margin-bottom: 0.3em !;
  color: #838383 !important;
}

.footer-links a {
  color: #838383 !important;
  text-decoration: none !important;
}

.footer-button {
  color: #838383 !important;
  border-color: #838383 !important;
}

.copyright {
  color: #838383 !important;
  font-size: 0.6em !important;
}

.col img {
  transition: transform 0.2s !important;
}

.col img:hover {
  transform: scale(1.1) !important;
}

.icons:hover {
  cursor: pointer;
  color: rgb(0, 255, 255) !important;
}






.buttons:hover {
  background-color: white;
  transform: scale(1.1);
  transition: all 0.5s;
  box-shadow: 3px 3px 10px black;
}

nav li a:hover,
nav button a:hover {
  color: aqua !important;
}



/* small screens */
@media (max-width: 575px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(50%) !important;
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-50%) !important;
  }

  .carousel-inner .carousel-item>div {
    display: none !important;
  }

  .carousel-inner .carousel-item>div:nth-child(-n+2) {
    display: block !important;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* small-mid  screens */
@media (min-width: 576px) and (max-width : 767px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.33%) !important;
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%) !important;
  }

  .carousel-inner .carousel-item>div {
    display: none !important;
  }

  .carousel-inner .carousel-item>div:nth-child(-n+3) {
    display: block !important;
  }
}

/* medium screens */
@media (min-width: 768px) and (max-width : 991px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%) !important;
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%) !important;
  }

  .carousel-inner .carousel-item>div {
    display: none !important;
  }

  .carousel-inner .carousel-item>div:nth-child(-n+4) {
    display: block !important;
  }
}

/* lg-xl screens */
@media (min-width: 992px) and (max-width: 1199px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(20%) !important;
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-20%) !important;
  }

  .carousel-inner .carousel-item>div {
    display: none !important;
  }

  .carousel-inner .carousel-item>div:nth-child(-n+5) {
    display: block !important;
  }

}

/* xl-xxl screens */
@media (min-width: 1200px) and (max-width: 1399px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(16.66%) !important;
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-16.66%) !important;
  }

  .carousel-inner .carousel-item>div {
    display: none !important;
  }

  .carousel-inner .carousel-item>div:nth-child(-n+6) {
    display: block !important;
  }

}

/* xxl screens */
@media (min-width: 1400px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(12.5%) !important;
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-12.5%) !important;
  }

  .carousel-inner .carousel-item>div {
    display: none !important;
  }

  .carousel-inner .carousel-item>div:nth-child(-n+8) {
    display: block !important;
  }

}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0) !important;
}

.carousel-control-prev {
  opacity: 100 !important;
  background: linear-gradient(270deg, rgba(33, 31, 31, 0) 0%, rgba(33, 31, 31, 1) 100%) !important;
}

.carousel-control-next {
  opacity: 100 !important;
  background: linear-gradient(90deg, rgba(33, 31, 31, 0) 0%, rgba(33, 31, 31, 1) 100%) !important;
}

.bla {
  object-fit: fill !important;
  object-position: center;
  width: 100%;
  height: 100%;
}